body {
    background-color: #F7F7F7;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2B475C;
}

h3 {
    font-size: 28px;
    margin: 0px 0px 30px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 200px;
}

.top {
    height: 160px;
    overflow: hidden;
    background-color: #E9E6E1;
}

.bottom {
    display: flex; /*make the box center*/
    min-height: auto;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.container {
    background-color: white;
    width: 40%;
    margin: -50px auto;
}

.form-block {
    font-size: 16px;
    padding: 25px;
}

label {
    font-weight: 400;
}

.form-control {
    border: none;
    height: 50px;
    background: #efefef;
}

span {
    font-size: 14px;
    color: #888888;
}

input[type='checkbox'] {
    position: absolute;
    height: 15px;
    width: 15px;
    margin-left: 8px;
    float: left;
}

.forgot-pass {
    color: #888888;
    text-decoration: underline;
    float: right;
}

.create-acc {
    text-decoration: underline;
}

.btn {
    background-color: #5E8A75;
    color: white;
    margin-top: 20px;
    height: 40px;
    font-size: 16px;
}

.alert {
    margin-top: -90px;
    margin-bottom: 60px;
    width: 40%;
    font-size: 14px;
}

/*CREATE ACCOUNT CSS */
/* The message box is shown when the user clicks on the password field */
.message{
    position:relative;
    padding:10px;
    margin-top:5px;
    font-size:5px;
}
  
.message p{
    padding: 0px 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid{
    color:green;
}
  
.valid:before{
    content:"\2714";
    /*content:"✔"; /*tick*/
    left: -10px;
    position:relative;
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid{
    color:red;
}
  
.invalid:before{ /* add symbol*/
    position:relative;
    left:-10px;
    /*content:"✖";/*cross*/
    content:"\2715";/*cross*/
}